@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.eot'); /* IE9 Compat Modes */
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Yekan.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Yekan.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Yekan.svg') format('svg'); /* Legacy iOS */
  }
  *{
      margin:0px;
    box-sizing: border-box;
  }
body{
    font-family: 'Yekan';
    margin: 0px;
    padding: 0px;
    direction:rtl;
    text-align: right;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: #022b69;
}

ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.logo{
    width: 23%;
    margin-top: 8px;
    transition: transform .1s;
}
.logo:hover{
    transform: scale(1.03);
}
container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: block;
}
.header {
    width: 87%;
    display: block;
    margin: 0 auto;
}
.topmenu {
    float: left;
    margin-top: 50px;
}
.topmenu li{
    display: inline-block;
    padding: 7px;
}

.clearfix{
    clear: both;
    width: 100%;
}
.navbar{
  float:right;
  background-color: #022b69;
  width: 100%;
  padding: 0px;
}
.navbar>ul>li>a{
   color: #f8f8fb;
}
.navbar > ul > li > a:hover{
    color: #0043a9;
}
.topmenu>li>a:hover{
color:#0043a9;
}
.navbar li {
    display: inline-block;
    margin: 0 30px 0 0px;
    padding-left: 30px;
    position: relative;
    padding: 8px 0 8px 30px;
}
ul.submenu{
    position: absolute;
    top: 45px;
    right: 0px;
    background-color: #f8f8fb;
    display: none;
    width: 119px;
    border-radius: 2px 2px 2px 2px;
}

.navbar ul li:hover .submenu{
    display: block;
}

.submenu > li> a:hover{
    color:#0043a9;
    text-decoration: underline;
} 
.submenu > li> a::before{
    margin-right: 0;
    content: "\f104";
    font-family: FontAwesome;
    margin-left: 5px;
}
.slideshow img {
    width: 100%;
}
.next{
    font-family: FontAwesome;
    position: absolute;
    top: 59%;
    right: 1%;
    border: 0px;
    background: #d7d4d475;
    padding: 9px 8px 8px 12px;
    cursor: pointer;
}
.prev{
    font-family: FontAwesome;
    position: absolute;
    top: 60%;
    left: 1%;
    border: 0px;
    background: #d7d4d475;
    padding: 9px 12px 8px 8px;
    cursor: pointer;
}
.fa-chevron-right:before {
    content: "\f053";
    color: #d5e1e3;
}
.fa-chevron-left:before {
    content: "\f053";
    color: #d5e1e3;
}
.next:hover , .prev:hover {
    background: #b9b7b775;
}

.hide{
    display: none;
}
.active{
    display: block;
}

.section87{
    width: 87%;
    margin: 0 auto;
    display: block;
}
.col4{
   width: 25%;
   float: right; 
   padding: 8px 2px;
   margin: 35px 0px;
}
.center{
    text-align: center;
}
.icon40{
    width: 40%;
    padding-bottom:10px;
}
.icon40:hover {
    transform: scale(1.03);
}

.dis{
    background-color:#fff;
    margin-top: -11px;
}
.col4 h3>a{
    color: #022a67;
}
.col4 h3>a:hover {
    color: #0043a9;
    cursor: pointer;
}
.col4>a>img:hover{
cursor: pointer;
}
.col4>p{
color:#545252;
}
.courses{
    background-color: #022b69;
    padding-bottom: 15px;
}
.courses h3 {
    text-align: center;
    color: #f8f8fb;
}
.col3 h3{
    color: #022b69;
    cursor: pointer;
}
.courses p{
    text-align: center;
    color: #cfcfcf;;
}
.col3{
    width: 30%;
    float: right;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px 0px grey;
    position: relative;
    margin: 0px 17px;
}
.col3 h3:hover {
  color:#0043a9 ;
}
.courseImg{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 3px;
    transition: transform .1s;
}
.courseImg:hover{
    transform: scale(1.02);
}
.text{
    padding: 45px 2px;
}
.col3 p{
    color: #4f5257;
}

.courseText{
    padding: 36px 14px 84px 14px;
}
.section{
    background-image: url(../img/BG3.webp);
    padding-bottom: 180px;
    padding-top: 60px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.footer{
    background-color: #022b69;
    line-height: 2;
    position: relative;
}
.col-3{
    width: 33%;
    float: right;
    padding: 16px 54px;
}
.col-3 h4 {
    border-bottom:solid 1px #fff ;
    color: #fff;
    font-weight: lighter;
    font-size: 19px;
}
.newsletter {
    width: 60%;
    margin-right: 20%;
    background-image: linear-gradient(to right, #62b7cb , #5572ff);
    border: 1px solid #61b5cc;
    padding: 30px 15px;
    box-shadow: 0 0 5px 0px grey;
    margin-top: -54px;
    margin-bottom: 70px;
}
.newsletter h4 , .newsletter p{
  text-align: center;
  color: #f8f8fb;
}
.search-input {
    padding:  8px 6px;
    background: #f9f9f9;
    border: solid 1px #d7e4e6;;
}
.search-button {
    padding: 7px 10px;
    border: solid 1px #51b0c4;
    background: #51b0c4;
    cursor: pointer;
}
.search-button:focus {
    border: solid 1px #51b0c4;
}
.search-button::after {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 18px;
    color: #eeeef1;
}
.search-input:focus {
    outline: #e3e8ec auto 1px;

}
.search-button:focus , .email-button:focus, .courseBUT:focus{
    outline: #444343 auto 1px;
}
.email-input {
    padding: 9px 70px;
    width: 50%;
    border: 0px;
    border-radius: 3px;
    text-align: center;
    font-family: 'Yekan';
    font-size: 15px;
}
.email-button , .courseBUT{
    width: 60px;
    padding: 6px 0px;
    background: #577ff5;
    border: solid 1px #577ff5;
    color: #f8f8fb;
    cursor: pointer;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Yekan';
}
.newsletter form{
    text-align: center;
    padding-top: 13px;
    position: relative;
}
.courseBUT {
    position: absolute;
    float: left;
    left: 16px;
    margin: 25px 4px;
    width: 88px;
    background: #fc9744;
    border: solid 1px #fc9744;
}
.letter {
    position: absolute;
    top: -103px;
    right: -12px;
    width: 40px;
}
.mobileMenu{
   height: 100%;
   right: 0px;
   width: 20%;
   background-color: #fff;
   position: fixed;
   border-radius: 1px;
   padding: 2%;
   z-index: 100;
   display: none;
}
.close{
    width: 10%;
    position: absolute;
    left: 0px;
    top: 2px;
    cursor: pointer;
}
.menu-title {
    border-bottom: solid 1px;
    padding: 7px 7px;
    margin-bottom: 6px;
}
.blackboard{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 90;
    background-color: #00000073;
    display: none;
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
    color: #a7a4a4;
    font-size: 16px;
}
.section{
    direction: ltr;
}
.data{
    margin-top: 45px;
}

.owl-carousel .owl-item img {
    display: block;
    width: 90%;
    padding: 10px;
}
.owl-prev {
    position: absolute;
    left: -60px;
    top: 36%;
}
.owl-next{
    position: absolute;
    right: -60px;
    top: 36%;
}
.owl-prev>span {
    font-size: 2.7em;
    padding: 12px;
    color: #272727;
    cursor: pointer;
}
.owl-next>span {
    font-size: 2.7em;
    padding: 12px;
    color: #272727;
    cursor: pointer;
}

.fa-map-marker:before {
    content: "\f041";
}
.fa-fw{
    display: inline-block;
}
.info {
    display: inline;
}
.list-footer , .list-footer a {
    color: #fff ;
    list-style: none;
}
.list-footer a:hover{
  color:#cfcfcf;
}
.social{
    padding: 5px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.social{
    text-align: center;
    margin-top: 12px;
}
.socialicon{
    width: 23px;
    text-align: center;
    margin-right: 3px;
    margin-left: 3px;
}
.ut-logo{
   display: block;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}
.ut-logo:hover{
    transform: scale(0.97);
}
.stick{
    position: fixed;
    top: 0px;
    z-index: 999;
}

/* Responsive Codes */
 @media screen and (max-width: 800px) {
    .navbar{
 display: none;
    }
    .newsletter {
    width: 70%;
    margin-right: 15%;
}
.mobileMenu,.blackboard{
    display: block;

}
.col3 {
    width: 27%;
}
.owl-carousel .owl-item img {
    width: 88% !important;
    margin-right: 0px;
}
 }
 @media screen and (max-width: 450px) {
 .close {
    left: 5px;
}

.next {
    top: 48%;
 }
 
.prev {
    top: 49%;
}
.col3 {
    width: 24%;
}
.courseBUT {
    left: 1px;
    width: 54px ;
    font-size: 15px;
 
}
.owl-carousel .owl-item img {
    width: 82% !important;
    margin-right: 0px;
}

}
